# ===============================
# Build artifacts
# ===============================
build/
*.o
*.elf
*.img
*.bin
*.map

# ===============================
# QEMU
# ===============================
qemu.log
*.dtb

# ===============================
# Toolchain / compiler
# ===============================
compile_commands.json

# ===============================
# Debug / profiling
# ===============================
*.d
*.su
*.gcda
*.gcno

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/

# Neovim
.nvim/
.nvimrc
*.swp
*.swo
*.swn
.Session.vim

# ===============================
# OS / filesystem junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary files
# ===============================
*~
.cache

